@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  font-family: "Roboto";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #2A2C1F;
  font-size: 1rem;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.text {
  font-size: 1.1rem;
  line-height: 1.8em;
}

.small-text {
  border: 1px solid #E7E8E3;
  border-radius: 32px;
  background-color: #E7E8E3;
  padding: 4px 12px;
  display: inline-block;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2em;
  padding-bottom: 20px;
}

.btn {
  border-radius: 6px;
  padding: 9px 25px;
  border: 1px solid;
  display: inline-block;
  line-height: 30px;
  transition: all 0.5s ease-in;
}
.btn:hover {
  transform: translateY(-5px);
}

.btn-white {
  border-color: #E7E8E3;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.btn-red {
  background: #CF6F46;
  border-color: #CF6F49;
  color: white;
}

.btn-transp {
  border: none;
  box-shadow: none;
}
.btn-transp span {
  margin-left: 5px;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}
.container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 10px;
  flex: 1;
}
.container .header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .header a {
  margin-right: 2em;
  line-height: 1.5rem;
}
.container .header a .fa-solid {
  margin-right: 5px;
  font-size: 1rem;
}
.container .header ul {
  display: flex;
  justify-content: space-around;
}

.main {
  background-color: #F5F5F2;
  background-image: url("../images/main-img.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50vw 100%;
  position: relative;
}
.main .main-info {
  max-width: 40%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 150px 0;
  gap: 25px;
}
.main .main-info h1 {
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.1em;
  margin: 20px 0;
}
.main .main-info .subtitle {
  font-size: 1.25rem;
  color: #65665C;
  line-height: 1.8rem;
}
.main .main-info .search-form {
  display: flex;
  width: 100%;
  gap: 1em;
}
.main .main-info .search-form .search-input {
  position: relative;
  flex-grow: 2;
}
.main .main-info .search-form .search-input input {
  padding: 15px 0 15px 35px;
  border: none;
  border-radius: 6px;
  border-color: #E7E8E3;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  width: 100%;
}
.main .main-info .search-form .search-input input::-moz-placeholder {
  color: #65665C;
  line-height: 1.8rem;
  padding-left: 5px;
}
.main .main-info .search-form .search-input input:-ms-input-placeholder {
  color: #65665C;
  line-height: 1.8rem;
  padding-left: 5px;
}
.main .main-info .search-form .search-input input::placeholder {
  color: #65665C;
  line-height: 1.8rem;
  padding-left: 5px;
}
.main .main-info .search-form .search-input .fa-solid {
  width: 1.2em;
  position: absolute;
  left: 1em;
  top: 1em;
  z-index: 2;
  margin-right: 15px;
}

.second-section {
  padding: 60px 0;
}
.second-section .media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}
.second-section .media .media-text {
  max-width: 20%;
}
.second-section .media .media-icons {
  display: flex;
  gap: 2.1em;
}
.second-section .media .media-icons .media-icon {
  width: 120px;
  height: 24px;
  filter: invert(52%) sepia(5%) saturate(700%) hue-rotate(189deg) brightness(87%) contrast(83%);
  margin-right: 5px;
}
.second-section .steps {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2em;
}
.second-section .steps .step-info {
  text-align: center;
  border: 1px solid #E7E8E3;
  border-radius: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  padding: 50px 40px;
}
.second-section .steps .step-info .text {
  font-size: 1rem;
  line-height: 1.5em;
  color: #65665C;
}
.second-section .steps .step-info h3 {
  font-size: 1.5rem;
  margin: 24px 0 17px;
}

.central-heading {
  padding: 60px 0;
  margin: 0 auto;
  text-align: center;
}
.central-heading .text {
  color: #65665C;
}
.central-heading h2 {
  margin: 10px 0;
}

.advantages-section .adv-right, .advantages-section .adv-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.advantages-section .adv-right .adv-info, .advantages-section .adv-left .adv-info {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
}
.advantages-section .adv-right .adv-info .text, .advantages-section .adv-left .adv-info .text {
  color: #65665C;
}
.advantages-section .adv-right .adv-info h2, .advantages-section .adv-left .adv-info h2 {
  padding: 0;
}
.advantages-section .adv-left .adv-info {
  max-width: 48%;
}
.advantages-section .adv-left .adv-info .adv-points {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2.5em;
}
.advantages-section .adv-left .adv-info .adv-points .adv-point {
  flex: 1 0;
  width: 45%;
}
.advantages-section .adv-left .adv-info .adv-points .adv-point .text {
  font-size: 1rem;
  line-height: 1.5rem;
}
.advantages-section .adv-left .adv-info .adv-points .adv-point h3 {
  margin: 16px 0;
  font-size: 1.25rem;
}

.property-links {
  margin: 0 auto;
  text-align: center;
}
.property-links .btn-white {
  background-color: #fff;
}

.properties-section {
  background: #F5F5F2;
  padding: 100px 0;
}
.properties-section .properties {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2em;
  padding-bottom: 80px;
}
.properties-section .properties .property-card {
  background: #fff;
  border-color: #E7E8E3;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.properties-section .properties .property-card img {
  width: 100%;
}
.properties-section .properties .property-card .property-info {
  padding: 1.55em;
}
.properties-section .properties .property-card .property-info i {
  color: inherit;
  margin-right: 3px;
}
.properties-section .properties .property-card .property-info .property-name {
  font-size: 1.5rem;
  margin: 20px 0 5px;
}
.properties-section .properties .property-card .property-info .property-price {
  font-size: 1.125rem;
  margin-bottom: 15px;
}
.properties-section .properties .property-card .property-info .property-loc {
  font-size: 1rem;
  color: #65665C;
  margin-bottom: 15px;
}
.properties-section .properties .property-card .property-info .property-features {
  display: flex;
  justify-content: flex-start;
  gap: 1.55em;
}
.properties-section .properties .property-card .property-info .property-features p {
  color: #65665C;
}

.locations-section {
  background: #F5F5F2;
  padding-bottom: 230px;
}
.locations-section .property-links {
  margin: 70px 0;
}
.locations-section .location-links {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2em;
}
.locations-section .location-links .location-link {
  background: #fff;
  padding: 33px;
  border-radius: 16px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.locations-section .location-links .location-link .btn-transp {
  padding: 12px 0;
  transition: none;
}
.locations-section .location-links .location-link .btn-transp:hover {
  transform: none;
}

.dark-section {
  position: relative;
}
.dark-section .container {
  background: #65665C;
  border-radius: 24px;
  transform: translateY(-50%);
}
.dark-section .container .central-heading {
  max-width: 65%;
}
.dark-section .container .central-heading h2 {
  color: #fff;
}
.dark-section .container .central-heading p {
  color: #E7E8E3;
  font-size: 1.125rem;
  margin: 25px 0;
}/*# sourceMappingURL=styles.css.map */