@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: 'Roboto';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #2A2C1F;
    font-size: 1rem;
}

ul {
    li {
        list-style-type: none;
    }
}

a {
    text-decoration: none;
}

.text {
    font-size: 1.1rem;
    line-height: 1.8em;
}

.small-text {
    border: 1px solid #E7E8E3;
    border-radius: 32px;
    background-color: #E7E8E3;
    padding: 4px 12px;
    display: inline-block;
}

   h2 {
       font-size: 3rem;
       font-weight: 700;
       line-height: 1.2em;
       padding-bottom: 20px;
   }

.btn {
    border-radius: 6px;
    padding: 9px 25px;
    border: 1px solid;
    display: inline-block;
    line-height: 30px;
    transition: all .5s ease-in;

    &:hover {
       transform: translateY(-5px);
    }
 
}

.btn-white {
    border-color: #E7E8E3;
    background: #fff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.btn-red {
    background: #CF6F46;
    border-color: #CF6F49;
    color: white;
}

  .btn-transp {
      border: none;
      box-shadow: none;

      span {
          margin-left: 5px;
      }
  }

// HEADER

.container {
    max-width: 1300px;
    margin: 0 auto;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 10px;
        flex: 1;

        .navbar {
                display: flex;
                justify-content: space-between;
                align-items: center;    
            }

            a {
                margin-right: 2em;
                line-height: 1.5rem;

                .fa-solid {
                    margin-right: 5px;
                    font-size: 1rem;
                }
            }

            ul {
                display: flex;
                justify-content: space-around;          
            }
    }
}

// MAIN SECTION

.main {
    background-color: #F5F5F2;
    background-image: url('../images/main-img.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50vw 100%;
    position: relative;
  
.main-info {
    max-width: 40%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 150px 0;
    gap: 25px;

    // TEXT
    h1 {
        font-size: 3.5rem;
        font-weight: 400;
        line-height: 1.1em;
        margin: 20px 0;
    }

    .subtitle {
        font-size: 1.25rem;
        color: #65665C;
        line-height: 1.8rem;
    }

    // FORM

    .search-form {
        display: flex;
        width: 100%;
        gap: 1em;
    
    .search-input {
        position: relative;
        flex-grow: 2;

        input {
            padding: 15px 0 15px 35px;
            border: none;
            border-radius: 6px;
            border-color: #E7E8E3;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
            outline: none;
            width: 100%;

            &::placeholder {
                color: #65665C;
                line-height: 1.8rem;
                padding-left: 5px;
            }
        }

        .fa-solid {
            width: 1.2em;
            position: absolute;
            left: 1em;
            top: 1em;
            z-index: 2;
            margin-right: 15px;
        }
    }
    }
        }
}

// Second section 

.second-section {
    padding: 60px 0;

// MEDIA BLOCK

    .media {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 50px;

        .media-text {
            max-width: 20%;
        }

        .media-icons {
            display: flex;
            gap: 2.1em;
          

            .media-icon {
                    width: 120px;
                    height: 24px;
                    filter: invert(52%) sepia(5%) saturate(700%) hue-rotate(189deg) brightness(87%) contrast(83%);
                    margin-right: 5px;
                }
        }
    }

    // STEPS BLOCK

    .steps {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2em;

        .step-info {
            text-align: center;
            border: 1px solid #E7E8E3;
            border-radius: 16px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
            padding: 50px 40px;

            .text {
                font-size: 1rem;
                line-height: 1.5em;
                color: #65665C;
            }

            h3 {
                font-size: 1.5rem;
                margin: 24px 0 17px;
            }
        }
    }
}

.central-heading {
    padding: 60px 0;
    margin: 0 auto;
    text-align: center;
         .text {
             color: #65665C;
         }
        h2 {
            margin: 10px 0;
        }
}

// ADVANTAGES SECTION 

.advantages-section {

.adv-right, .adv-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;

    .adv-info {
        max-width: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 22px;
            .text {
                color: #65665C;
            }

            h2 {
                padding: 0;
            }

          
    }
}

.adv-left {
    .adv-info {
        max-width: 48%;

        .adv-points {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 2.5em;
          
            .adv-point {
                flex: 1 0;
                width: 45%;

                .text {
                    font-size: 1rem;
                    line-height: 1.5rem;
                }

                h3 {
                    margin: 16px 0;
                    font-size: 1.25rem;
                }
            }
        }
    }
}
}

// PROPERTIES SECTION

        .property-links {
            margin: 0 auto;
            text-align: center;
    
            .btn-white {
                background-color: #fff;
            }
        }

.properties-section {
    background: #F5F5F2;
    padding: 100px 0;

    .properties {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 2em;
        padding-bottom: 80px;

    .property-card {
        background: #fff;
        border-color: #E7E8E3;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;

        img {
            width: 100%;
        }

        .property-info {
            padding: 1.55em;

        i {
            color: inherit;
            margin-right: 3px;
            }

        .property-name {
            font-size: 1.5rem;
            margin: 20px 0 5px;
        }

        .property-price {
            font-size: 1.125rem;
            margin-bottom: 15px;
        }

        .property-loc {
            font-size: 1rem;
            color: #65665C;
            margin-bottom: 15px;
        }

        .property-features {
            display: flex;
            justify-content: flex-start;
            gap: 1.55em;
            p {
                color: #65665C;
            }
        }
    }
}
}
}

// LOCATIONS SECTION

.locations-section {
    background: #F5F5F2;
    padding-bottom: 230px;
   
    .property-links {
        margin: 70px 0;
    }

    .location-links {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 2em;

        .location-link {
            background: #fff;
            padding: 33px;
            border-radius: 16px;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

            .btn-transp {
                padding: 12px 0;
                transition: none;
               
                &:hover {
                        transform: none;
                    }
            }
        }
    }
}

// DARK SECTION

.dark-section {
    position: relative;

    .container {
        background: #65665C;
        border-radius: 24px;
        transform: translateY(-50%);

        .central-heading {
            max-width: 65%;

            h2 {
                    color: #fff;
            }

            p {
                color: #E7E8E3;
                font-size: 1.125rem;
                margin: 25px 0;
            }
        }

    }
}

// REVIEWS SECTION

.reviews-section {

    padding-bottom: 8em;

    .central-heading {
        padding-top: 0;
    }

    .reviews {
        display: flex;
        justify-content: space-between;
        gap: 2em;

        .review-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 2em;
            text-align: left;
            border: 1px solid #E7E8E3;
            border-radius: 16px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
            padding: 2em;

            .stars-icons i {
                color: #CF6F46;
            }

            .customer-info {
                display: flex;
                gap: 1em;
                align-items: center;

                p {
                    color: #65665C;
                 
                }
            }
        }
    }
}

// BLOG SECTION

.blog-section {
    background:#F5F5F2;

    .central-heading {
        margin: 0;
        text-align: left;

        .heading-block {
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                max-width: 50%;
                color: #65665C;
                line-height: 1.6em;
            }
        }
    }
}